<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>introduction</key>
		<string>特暴龙是一种十分凶猛的恐龙，它是一种食肉性动物。</string>
		<key>imageName</key>
		<string>guancang</string>
		<key>name</key>
		<string>特暴龙</string>
	</dict>
	<dict>
		<key>introduction</key>
		<string>特暴龙是一种十分凶猛的恐龙，它是一种食肉性动物。</string>
		<key>imageName</key>
		<string>guancang</string>
		<key>name</key>
		<string>特暴龙</string>
	</dict>
	<dict>
		<key>introduction</key>
		<string>特暴龙是一种十分凶猛的恐龙，它是一种食肉性动物。</string>
		<key>imageName</key>
		<string>guancang</string>
		<key>name</key>
		<string>特暴龙</string>
	</dict>
	<dict>
		<key>introduction</key>
		<string>特暴龙是一种十分凶猛的恐龙，它是一种食肉性动物。</string>
		<key>imageName</key>
		<string>guancang</string>
		<key>name</key>
		<string>特暴龙</string>
	</dict>
	<dict>
		<key>introduction</key>
		<string>特暴龙是一种十分凶猛的恐龙，它是一种食肉性动物。</string>
		<key>imageName</key>
		<string>guancang</string>
		<key>name</key>
		<string>特暴龙</string>
	</dict>
	<dict>
		<key>introduction</key>
		<string>特暴龙是一种十分凶猛的恐龙，它是一种食肉性动物。</string>
		<key>imageName</key>
		<string>guancang</string>
		<key>name</key>
		<string>特暴龙</string>
	</dict>
</array>
</plist>
